<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link  th:href="@{/css/hauru.css}" rel="stylesheet">


</head>

<body class="hauru">
  <form th:action="@{/viewer/{impid}/comment(impid=${impId})}" th:object="${comment}"  th:method="post" novalidate>


      <div class="form-group">
          <label for="comments">comments :</label>
          <textarea rows="2" cols="50"  th:field="*{comments}"></textarea>
        </div>

          <label for="date">date :</label>
          <input type="date" th:field="*{date}">
          <span th:errors="*{date}"></span>
        </div>
        <div hidden>
          <label for="impression">impression</label>
          <select class="form-control" th:field="${comment.impression}">
            
              <option th:value="${impid}" ></option>
          </select>
        </div>
        <br>
    <input type="submit" value="更新"  class="btn btn-outline-light">
    <input type="reset" class="btn btn-outline-light">
    <a  type="button" class="btn btn-outline-light"  th:href="@{/viewer/{impid}/show(impid=${impId})}">戻る</a>
  </body>

  </html>