<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link  th:href="@{/css/hauru.css}" rel="stylesheet">


</head>

<body  class="kimisui">
  <div class="container">

    <table class="table">
      <h4>みんなが見た映画 [更新日古い順]</h4>
      <thead>
        <th>#</th>
        <th>映画タイトル</th>
      </thead>
      <tbody>
        <tr th:each="impression : ${implist}" th:object="${impression}" th:if="${impression.release eq true}">
          <td th:text="*{id}"></td>
          <td>
            <a th:href="@{/viewer/{id}/show(id=*{id})}" th:text="*{movie.title}"></a>
          </td>
        </tr>
        <div class="migikuro">
          <a type="button" class="btn btn-outline-light" th:href="@{/viewer/all/movie}">タイトル順</a>
          <a type="button" class="btn btn-outline-light" th:href="@{/viewer/all/evalu}">評価の高い順</a>
          <a  type="button" class="btn btn-outline-light"  th:href="@{/viewer/all}">戻る</a>
          </div>
      </tbody>
    </table>
  </div>
 
</body>
</html>