<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link th:href="@{/css/admin.css}" rel="stylesheet">
</head>

<body class="home">
  <div class="container">
    <h2>Public Page</h2>
    <div class="migi">
      <a th:href="@{/login}" class="btn btn-outline-dark">ログイン</a>
    </div>
    <table class="table">
      <h5>みんなが見た映画</h5>
      <div class="migikuro">
        <a th:href="@{/viewer/all}" class="btn btn-outline-light btn-lg">more...</a>
      </div>
      <thead>
        <th>#</th>
        <th>映画タイトル</th>
      </thead>
      <tbody>
        <tr th:each="impression : ${implist}" th:object="${impression}" th:if="${impression.release eq true}">
          <td th:text="*{id}"></td>
          <td>
            <a class="page" th:href="@{/viewer/{id}/show(id=*{id})}" th:text="*{movie.title}"></a>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <h4>公開中の映画</h4>
      <thead>
        <th colspan=1>#</th>
        <th></th>
        <th colspan=2>映画タイトル</th>
        <th colspan=2>監督</th>
        <th colspan=4></th>
        <th colspan=2></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr th:each="movie : ${movielist}" th:object="${movie}">
          <td colspan=1 th:text="*{id}"></td>
          <td></td>
          <td colspan=2>
            <a class="page" th:href="@{/movie/{id}/list(id=*{id})}" th:text="*{title}"></a>
          </td>
          <td colspan=2 th:text=*{director}></td>
          <td colspan=4></td>
          <td colspan=2></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>