<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link th:href="@{/css/admin.css}"  rel="stylesheet">
</head>

<body class="home">
  
  <div class="container">

    <h2 class="pink">Your Page!</h2>

    <table class="table">
      
      <thead>
        <th>#</th>
        <th>映画タイトル</th>
        <th></th>
      </thead>
      <tbody>
        <tr th:each="impression : ${implist}" th:object="${impression}">
          <td th:text="*{id}"></td>
          <td>
            <a class="page" th:href="@{/admin/{id}/show(id=*{id})}"  th:text="*{movie.title}" ></a>
            <td>
              <a th:href="@{/admin/{userid}/{impid}/edit(impid=${impression.id},userid=*{user.id})}"  type="button" class="btn btn-outline-light">編集</a>
            </td>
          </td>
        </tr>
        <td>
          <a th:href="@{/admin/{userid}/new(userid=*{id})}" type="button" class="btn btn-outline-light">新規作成</a>
        </td>
        <div class="migikuro">
          <h5>貴方が見た映画</h5>
          <a th:href="@{/}" type="button" class="btn btn-outline-light">Logout</a>
          <a th:href="@{/viewer/home}" type="button" class="btn btn-outline-light">Public Page</a>
          </div>
      </tbody>
    </table>
    <table class="table">
      <h5 class="kuro">公開中の映画</h5>
      <thead>
        <th colspan=1>#</th>
        <th colspan=2>映画タイトル</th>
        <th colspan=2>監督</th>
        <th colspan=4></th>
        <th colspan=2></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr th:each="movie : ${movielist}" th:object="${movie}">
          <td colspan=1 th:text="*{id}"></td>
          <td colspan=2>
            <a class="page" th:href="@{/movie/{id}/list(id=*{id})}" th:text="*{title}"></a>
          </td>
          <td colspan=2 th:text="*{director}"></td>
          <td colspan=4></td>
          <td colspan=2></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
 
</body>
</html>