<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link th:href="@{/css/show.css}" rel="stylesheet">
</head>
<body class="show">
  <div class="bg2">
    <div class="container">
      <ul th:if="${impression}" th:object="${impression}">
        <li>タイトル : [[*{movie.title}]]</li>
        <li>監督 : [[*{movie.director}]]</li>
        <li>見た日 : [[*{date}]]</li>
        <li>評価 : [[*{evaluation}]]</li>
        <li>感想 : [[*{impress}]]</li>
      </ul>
      <table class="table">
        <h4>みんなのコメント</h4>
        <thead>
          <th>#</th>
          <th>コメント</th>
          <th>Date</th>
          <th></th>
        </thead>
        <tbody>
          <tr th:each="comment : ${comment}" th:object="${comment}">
            <td th:text="*{id}"></td>
            <td th:text="*{comments}"></td>
            <td th:text="*{date}"></td>
            <td colspan=1>
              <form th:method="delete" th:action="@{/admin/{impid}/{id}/show(impid=*{impression.id},id=*{id})}">
                <button type="submit" value="削除" class="btn btn-outline-light"
                  onclick="return confirm('消していいの？')">削除</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      <a th:href="@{/admin/{id}/home(id=${userId})}" type="button" class="btn btn-outline-light">戻る</a>
      <h1 th:unless="${impression}" th:text="データがありません"></h1>
      <a th:href="@{/admin/{userid}/{impid}/edit(impid=*{id},userid=${userId})}" type="button"
        class="btn btn-outline-light">編集</a>
    </div>
  </div>
</body>
</html>