<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" href="movie.css">
</head>
<body>
  
<div class="content">
 <div class="bg">
  <h1>Welcom</h1>
  <h1 sec:authentication="principal.username"></h1>  
 
  

  <br>
  <br>
  <a th:href="@{/viewer/home}">一般公開ページへ</a><br>
  <a th:href="@{/admin/{id}/home(id=${userId})}">Your Page</a>
  <div sec:authorize="isAuthenticated()">
  </div>
</div>
</div>
</body>
</html>